<header>
    
    
   <ul id="list">
    <li><a  routerLink="">Home</a></li>
    <li id="trigger" ><a id=""  style="cursor: pointer;" >Our Services</a>
        <ul class="drop">
            <li><a routerLink="/login">Your projects</a></li>
            
          </ul>
    </li>
    <li><a routerLink="/tarif">Tarif</a></li>
    <li><a routerLink="/contact" >Contact</a></li>
    
    <li id="trigger" ><a id="" routerLink="/register" style="cursor: pointer;" >Registration</a>
      <ul class="drop">
          <li><a routerLink="/admin">Manage Accounts</a></li>
          
        </ul>
        <li><a routerLink="/logout">Logout</a></li>
    
   
    
   </ul>
</header>


