<section class="main">
   
    <section class="glass">
    
    <div class="formulaire" id="myInput">
        <form action="">
            <h1>Subscription</h1>
            <div>
                <input type="text" placeholder="Name"onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''">
                <input type="text" placeholder="Last Name"  onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''">
            </div>
            <div>
                <input type="email" placeholder="Mail" onblur="this.placeholder='Email'" onfocus="this.placeholder=''">
                <input type="tel" placeholder="Phone"  onblur="this.placeholder='Téléphone'" onfocus="this.placeholder=''">
            </div>
            <div>
                <select name="Durée" id="" aria-placeholder="abonnement">
                    <option value="" disabled selected>Subscription </option>
                    <option value="">Normal</option>
                    <option value="">Premium</option>
                    <option value="">Golobal</option>
                </select>
                
                <select name="Durée" id="" aria-placeholder="Durée"   >
                    <option value="" disabled selected>Duration </option>
                    <option value="">3 months </option>
                    <option value="">9 months  </option>
                    <option value="">12 months</option>
                </select>
            </div>
            <button>Subscribe</button>
        </form>
    </div>
    </section>
    <section class="feedback">
        <div>
            <form action="">
                <h1>Contact-us </h1>
                <div>
                    <input type="text" placeholder="Name" onblur="this.placholder=this.placeholder='Nom'" onfocus="this.placeholder=''">
                    <input type="text" placeholder="Last Name" onblur="this.placholder=this.placeholder='Prénom'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <input type="email" placeholder="Mail" onblur="this.placholder=this.placeholder='Email'" onfocus="this.placeholder=''">
                    <input type="tel" placeholder="Phone" onblur="this.placholder=this.placeholder='Téléphone'" onfocus="this.placeholder=''">
                </div>
                <div>
                    <textarea name="" id=""  placeholder="Message" onblur="this.placholder=this.placeholder='Message'" onfocus="this.placeholder=''"></textarea>
                    <a href="#" class="btn">Envoyer</a>
                </div>

            </form>
        </div>
    </section>
</section>



