<section class="Banner">
  <div class="container-first">
      <h1><span> Welcome to  <span style="color: wheat;">PROjects</span></span> </h1>
      
 
       
      </div>
</section>

<section class="main">
  <div class="up">
      <i class="fas fa-arrow-up"></i>
  </div>
  
  <div class="about-intro">
        <div class="left">          <p><span style="color:#FFC233; font-size: 40px;" >PROjects</span>  appllication is a simple and effective process for managing tasks in a project. These tasks can be independent or, on the contrary, need to be completed in a certain order. For example, an IT project manager might note the bugs to be fixed and the start and end dates of the problem.</p>
        </div>
        <div class="right"><img src="../../assets/Untitled.png" alt=""></div>
      
  </div>

  
         

        
  </section>
  


<button routerLink="/register">Start planing</button>







