
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">


              <div class="logo">
                  <h4>Welcome to PROjects</h4>
                  
              </div>

          </div>
          <div class="footer-col">
              <h4>Our services</h4>
              <ul>
                  <li><a routerLink="/cats">Manage your projects</a></li>
                 
              </ul>
          </div>
          <div class="footer-col">
              <h4>Help</h4>
              
              <ul>
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/contact">Contact-us</a></li>
                  
              </ul>
          </div>
          <div class="footer-col">
              <h4>Contact</h4>
              <div class="footer-center">
                  <div>
                      <i class="fa fa-map-marker"></i>
                      <p>Technopole sfax </p>
                  </div>

                  <div style="margin-top: 15px;">
                      <i class="fa fa-phone"></i>
                      <p>+216 95 310 082</p>
                  </div>
                  <div style="margin-top: 15px;">
                      <i class="fa fa-envelope"></i>
                      <p>PROjects@gmail.com</p>
                  </div>
              </div>




          </div>
          <div class="footer-col">
              <h4>Media</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>


              </div>


          </div>

      </div>
  </div>
  
</footer>